<div class="banner" style="background-image: linear-gradient(rgba(100,100,100, 0.5), rgba(100,100,100, 0.5) 50%), url('https://www.estiluz.com/sites/default/files/field/blog/spring-316539_1280.jpg');">
  <div class="banner-content">
    <h1>Welcome to Mission Meals!&nbsp;<img src="http://www.missionhack.ca/images/rocket.png" alt="" style="height: 90px;"></h1>
    <p><em>Select your meal plan below</em></p>
    <div class="btns">
      <%= link_to mealplanner_path, class: "btn-start" do %>
        <i class="fas fa-user"></i>
        &nbsp;
        Individual Plan
      <% end %>
      <%= link_to mealplanner_path, class: "btn-start" do %>
        <i class="fas fa-users"></i>
        &nbsp;
        Family Plan
      <% end %>
    </div>
  </div>
</div>
