<div class="banner" style="background-image: linear-gradient(rgba(100,100,100, 0.5), rgba(100,100,100, 0.5) 50%), url('https://www.estiluz.com/sites/default/files/field/blog/spring-316539_1280.jpg');">
  <div class="banner-content">
    <h1>Welcome to Mission Meals&nbsp;<img src="http://www.missionhack.ca/images/rocket.png" alt="" style="height: 90px;"></h1>
    <h2 style="margin-bottom: 20px"><em>Efficient meal planning for sustainable food cultivation!</em></h2>
    <div class="btns">
      <%= link_to statistics_path, style:"color: white; text-decoration: none; background-color: blue; padding: 10px 30px; font-size: 24px; margin: 20px auto 30px; border-radius: 30px;" do %>
        <i class="fas fa-chart-pie"></i>
        &nbsp;
        See colony statistics
      <% end %>
    </div>
    <p style="font-size: 30px;"><strong>Click on a button below to get started...</strong></p>
    <div class="btns">
      <%= link_to mealplanner_path, class: "btn-start" do %>
        <i class="fas fa-user"></i>
        &nbsp;
        Individual Plan
      <% end %>
      <%= link_to mealplanner_path, class: "btn-start" do %>
        <i class="fas fa-users"></i>
        &nbsp;
        Family Plan
      <% end %>
    </div>
  </div>
</div>
