<div class="banner" style="background-image: linear-gradient(rgba(100,100,100, 0.5), rgba(100,100,100, 0.5) 50%), url('https://www.estiluz.com/sites/default/files/field/blog/spring-316539_1280.jpg');">
  <div class="banner-content">
    <h1>Welcome to Mission Meals!&nbsp;<img src="http://www.missionhack.ca/images/rocket.png" alt="" style="height: 90px;"></h1>
    <h2><em>Promoting sustainable food cultivation on New Earth!</em></h2>
    <p><strong>To get started, select your meal plan below...</strong></p>
    <div class="btns">
      <a href="#" class="btn-start">
        <i class="fas fa-user"></i>
        &nbsp;
        Single-person Plan
      </a>
      <a href="#" class="btn-start">
        <i class="fas fa-users"></i>
        &nbsp;
        Family Plan
      </a>
    </div>
  </div>
</div>
