<div class="stats-title" style="position: relative;text-align: center;color: whitesmoke; text-shadow: 2px 2px rgba(50,50,50,0.5);background-image: linear-gradient(rgba(100,100,100, 0.5), rgba(100,100,100, 0.5) 50%), url('https://cdn.pixabay.com/photo/2016/02/03/08/33/banner-1176678_960_720.jpg'); background-position: center; background-size:cover;padding: 20px 0px;">
  <h1 style="font-size: 80px;">Statistics</h1>
  <%= link_to home_path, style:"text-decoration: none; color: whitesmoke" do %>
    <em>Return to homepage</em>
    &nbsp;
    <i class="fas fa-undo-alt"></i>
  <% end %>
</div>
<div class="tabs">
  <a id="fruits" class="tab active" onclick="setActive(this.id)">Fruits</a>
  <a id="vegetables" class="tab" onclick="setActive(this.id)">Vegetables</a>
  <a id="meats" class="tab" onclick="setActive(this.id)">Meat</a>
  <a id="carbs" class="tab" onclick="setActive(this.id)">Carbs</a>
</div>

<div class="content">
  <button class='btn btn-primary' type='button' data-toggle='collapse' data-target='#collapseExample' aria-expanded='false' aria-controls='collapseExample'>
    Apples
  </button>
  <div class='collapse' id='collapseExample'>
    <div class='card card-body'>
      <img src='https://cdn.kastatic.org/ka-perseus-graphie/e85a5b3098287a46307b1ce1a3163a608485bd6b.svg' alt=''>
    </div>
  </div>
</div>

<script>
  const fruits = "<button class='btn btn-primary' type='button' data-toggle='collapse' data-target='#collapseExample' aria-expanded='false' aria-controls='collapseExample'>Apples</button><div class='collapse' id='collapseExample'><div class='card card-body'><img src='https://cdn.kastatic.org/ka-perseus-graphie/e85a5b3098287a46307b1ce1a3163a608485bd6b.svg' alt=''></div></div>"


  const tabs = document.querySelectorAll(".tab");
  const content = document.querySelector(".content");

  const removeCurrentActive = () => {
    tabs.forEach((tab) => {
      tab.classList.remove("active");
    })
    content.innerHTML = "";
  }

  const displayStats = "<h1>Hello</h1>";

  const setActive = (selectedTab) => {
    removeCurrentActive();
    newActiveTab = document.getElementById(selectedTab);
    newActiveTab.classList.add("active");

    switch(selectedTab) {
      case "fruits":
        content.innerHTML = fruits;
        break;
      case "vegetables":
        content.innerHTML = displayStats;
        break;
      case "meats":
        content.innerHTML = displayStats;
        break;
      case "carbs":
        content.innerHTML = displayStats;
        break;
    }
  }
</script>
